In [2]:
# Loading needed libraries
import pandas as pd
from requests import get
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [3]:
# Loading data retrieved in the professor's guiding notebook
ies_df = pd.read_csv('number_of_employees.csv')
ies_df.head()

,Unnamed: 0,Code,IES_name,Number_employees
0,0,26257,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,1841
1,1,26256,CENTRO FED.EDUC.TECNOL.CELSO S. FONSECA,1572
2,2,26201,COLEGIO PEDRO II,2345
3,3,26443,EMPRESA BRAS. DE SERVICOS HOSPITALARES,25750
4,4,26298,FUND COORD APERF PESSOAL NIVEL SUPERIOR,409

In [6]:
# Investiating the URL to access the institutions's list of employees
base_url = 'http://www.portaltransparencia.gov.br/servidores/OrgaoExercicio-ListaServidores.asp?CodOrg={}'

In [7]:

ies_names = []
# Main page lookup
for ies in ies_df.Code:
    url = base_url.format(ies).replace(" ", "")
    
    # Retrieving content for the main page for the institution
    response = get(url)
    
    # Pause the loop
    sleep(randint(5,10))
    
    # Parsing content
    ies_html = BeautifulSoup(response.text, 'html.parser')
    
    # Discovering the number of pages per institution
    npages = ies_html.find('p', class_='paginaAtual').text.rsplit('/',1)[1]
    
    ies_name = ies_html.find_all('td',class_='colunaValor')[1].text.strip()    
    
    # Gathering data from the pages
    for page in range(1,int(npages)):
        
        page_url = url+'&Pagina={}'.format(page).replace(" ", "")
        
        resp = get(page_url)
        
         # Pause the loop
        sleep(randint(5,10))
        
        # Retrieving content for the page
        page_html = BeautifulSoup(response.text, 'html.parser')
        
        page_table_rows = page_html.find_all('td')
        
    
        names = []
        # Getting names in each page
        for row in page_table_rows:
            name = row.find('a')
            
            if name is not None:
                names.append(name.text.strip())
                ies_names.append(ies_name)
                
    
        break
    
    
    break

In [8]:
# Building a new dataset
columns = ['Name','IES','Guessed_Gender']
ies_employees_df = pd.DataFrame(columns=columns)
ies_employees_df.Name = names
ies_employees_df.IES = ies_names
ies_employees_df.Guessed_Sex = 'Unknown'

In [9]:
ies_employees_df

,Name,IES,Guessed_Gender
0,ABELARDO BENTO ARAUJO,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
1,ABNER BRAGANCA GOUVEA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
2,ACCACIO FERREIRA DOS SANTOS NETO,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
3,ADALBERTO JOSE DE LIMA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
4,ADALBERTO PEREIRA DA SILVA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
5,ADALBERTO TEIXEIRA DE ANDRADE ROCHA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
6,ADALTON MARTINS GOMES,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
7,ADELSON DE PAULA SILVA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
8,ADELSON FERNANDES MOREIRA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
9,ADERCI DE FREITAS FILHO,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
10,ADILSON MENDES RICARDO,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
11,ADILSON RAMOS DA SILVA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
12,ADILSON RANGEL ALVES,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
13,ADILSON SILVEIRA COELHO,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN
14,ADIMILSON DE ASSIS CRUZ,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NaN

In [14]:
# We are able to run R commands in ipython using this extension
import rpy2.robjects as robjects
%load_ext rpy2.ipython

In [25]:
%%R 
# Need to load this R library for gender guessing
suppressMessages(library(genderBR))

In [29]:
genders = []
# Using robjects to run R procedures
for name in ies_employees_df.Name:
        gender = robjects.r.get_gender(name, threshold = 0.95)
        gender = gender.r_repr()
        gender = gender.strip('\"')
        if gender.startswith('NA'):
            gender = 'NA'
        genders.append(gender)

In [30]:
ies_employees_df.Guessed_Gender = genders

In [31]:
ies_employees_df

,Name,IES,Guessed_Gender
0,ABELARDO BENTO ARAUJO,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
1,ABNER BRAGANCA GOUVEA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
2,ACCACIO FERREIRA DOS SANTOS NETO,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
3,ADALBERTO JOSE DE LIMA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
4,ADALBERTO PEREIRA DA SILVA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
5,ADALBERTO TEIXEIRA DE ANDRADE ROCHA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
6,ADALTON MARTINS GOMES,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
7,ADELSON DE PAULA SILVA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
8,ADELSON FERNANDES MOREIRA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
9,ADERCI DE FREITAS FILHO,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,NA
10,ADILSON MENDES RICARDO,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
11,ADILSON RAMOS DA SILVA,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
12,ADILSON RANGEL ALVES,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
13,ADILSON SILVEIRA COELHO,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male
14,ADIMILSON DE ASSIS CRUZ,CENTRO FED.DE EDUC.TECNOL.MINAS GERAIS,Male

In [43]:
robjects.r.get_gender("João de Deus", threshold = 0.95)

R object with classes: ('character',) mapped to:
<StrVector - Python:0x7f72d0461f08 / R:0x4265f28>
['Male']

Usar gender-API para os casos NA... Se passar de 500, usar mais de uma conta.

Ou a genderize.io: https://api.genderize.io/?name=Alzira

In [56]:
genderless_name = 'Aderson'
genderize = get('https://api.genderize.io/?name={}'.format(genderless_name).replace(" ", ""))

In [57]:
import json as json

gender_json = json.loads(genderize.text)

In [58]:
gender_json.get('gender')

'male'